#home {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
  }
  
  #listed {
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    line-height: 1.9em;
    margin-top: 1.9em;
    margin-left: 70px;
  }
  
  
  #profile-pic {
    height: 200px;
    width: 200px;
  }
  
  #info {
    margin-bottom: 30px;
  }
  
  
  