nav {
    margin-top: 50px;
  }


#card-body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#tiles {
  margin-bottom: 50px;
}

#tiles a {
  text-decoration: none;
  color: black;

}

#tiles a div{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: transfrom .2s;
  margin: 20px;
}

#tiles a div:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}